<th:block th:fragment="toolCard (
    id,
    cardLink,
    endpoint,
    tags,
    toolIcon,
    cardTitle,
    cardText
)">
  <div class="tool-card"
       th:id="${id}"
       th:if="${@endpointConfiguration.isEndpointEnabled(cardLink)}"
       th:data-tags="${tags}"
       th:data-endpoint="@{${endpoint}}">

    <a class="tool-card-link" th:href="${cardLink}">
      <div class="tool-card-content">

        <span
          class="tool-icon material-symbols-rounded"
          th:classappend="${
              tags == 'organize' ? 'color-blue' :
              tags == 'convert'  ? 'color-green' :
              tags == 'security' ? 'color-red' :
              tags == 'view'     ? 'color-purple' :
              tags == 'edit'     ? 'color-orange' :
              tags == 'other'    ? 'color-teal' :
              'color-blue'
          }"
          th:text="${toolIcon}">
        </span>

        <div class="tool-text">
          <h3 th:text="${cardTitle}">Título</h3>
          <p th:text="${cardText}">Descrição</p>
        </div>

      </div>
    </a>

    <!-- Favorito
    <span class="material-symbols-rounded tool-favorite"
          th:data-endpoint="@{${endpoint}}"
          th:onclick="'addToFavorites(\\'' + @{${cardLink}} + '\\')'">
      star
    </span> -->

  </div>
</th:block>
